body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*le header*/
header{
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    background-color: #fff;
}
.banner{
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    text-transform: uppercase;
    
}
.banner-text{
    font-family: 'montserrat';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2;
    color: #676767;
    margin-top: 0px;
}
.social-media-connexion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -12px;
}
.social-media-icon{
    margin-left: 40px;
}
i{
    margin: 0 5px 0 5px;
    font-size: 11px;
    color: #005587;
}
.connexion-setting{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
}

.connexion-img{
    width: 30px;
    height: 15px;
    margin-right: 10px;
}
.connexion-part{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.connexion-text{
    text-transform: uppercase;
    font-family: 'montserrat';
    color: #005587;
    font-size: 12px;
    font-weight: bold;
}
.navigation-logo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color:#005587 ;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    width: 130px;
    margin-left: 40px;
}
nav ul{
    display: flex;
    margin-left: 25px;
}
ul{
    padding-left: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    list-style: none;
}
li{
    font-size: 15px;
}
li a{
    color: #fff;
    text-decoration: none;
    margin:10px;
}
.banner-logo-2{
    width: 100%;
    text-align: center;
}
.logo-2{
    margin: 50px 0 50px 0;
}
.banner-img-1{
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    z-index: -100;
}

/*Section video*/
.video{
    width: 100%;
    height: 860px;
    text-align: center;
    z-index: 100;
}
.video-container{
    max-width: 900px;
    margin: 90px auto;
    background-color: #fff;
    z-index: 100;
}
.video-container-text{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 70px;
}
.titre{
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
    color: #005587;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
.paragraph{
    margin-top: 8px;
    margin-left: 15px;
}
.paragraph-1, .paragraph-2{
    text-align: left;
    color: #666666;
}
.paragraph-1{
    font-size: 16px;
    font-family: 'poppins';
}
.paragraph-2{
    font-family: 'roboto';
    font-style: normal;
    font-size: 13px;
    word-spacing: 5px;
    line-height: 1.5;
}
.banner-img-2{
    width: 100%;
    height: 700px;
    background-image: url(images/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}

/*Aventure*/
.aventure{
    width: 100%;
    margin-top: -330px;
    padding-top: 70px;
    background-color: #fff;
    text-align: center;
}
.aventure-titre{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
    color: #005587;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
.video-grid iframe{
    margin: 10px;
}
.aventure img{
    width: 1000px;
    margin-top: 150px;
}
.tel-image{
    margin-top: 65px;
}
.tel-image img{
    width: 300px;
    height: 300px;
    margin: 5px;
}

/*fin du site*/

.banner-img-3{
    width: 100%;
    height: 450px;
    margin-top: 165px;
    background-image: url(images/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}
.fin-site-text{
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 30px 0 30px 0;
    text-align: center;
}
.fin-site-text h2{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
    color: #005587;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
.banner-img-4{
    width: 100%;
    height: 350px;
    margin-top: 165px;
    background-image: url(images/img4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}
/*footer*/

footer{
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.footer-footer{
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #005587;
    color: #fff;
}
.footer-footer-center{
    margin: 20px auto;
    width: 60%;
    text-align: left;
}
.footer-footer-center hr{
    background-color: #fff;
    width: 100%;
}
.footer-footer-center p{
    font-size: 11px;
    font-family: 'poppins';
}
